@{
    ViewBag.Title = "Check Availability";
}

<h2>Check Availability</h2>
<div class="form-group input-group-sm">
    From: <input type="text" name="from" id="from" class = "form-control datepicker"/>

</div>
<div class="form-group input-group-sm">
    To: <input type="text" name="to" id="to" class = "form-control datepicker"/>

</div>
<div class="form-group input-group-sm">
    No of Passengers: <input type="number" name="pax" id="pax" class = "form-control"/>

</div>
<div class="form-group input-group-sm">
    <button type="submit" class="btn btn-default" id="checkAvail">Check Availability</button>
</div>


<table  id="bookingTable" class="table table-striped">
    <thead>
        <tr><th>BookingDate</th>
        <th>HelicopterName</th>
        <th>Capacity</th>
        <th>Booked</th>
        <th>Available</th></tr>
    </thead>
</table>

<div id="bookingContent">
    
</div> 

